.masthead {
    background-image: url('images/kitchen_2.jpeg');
    background-size: cover;
    background-color: #80461B;
    height: 250px;
    border-radius: 20px;
    width: 100%;
    background-position: bottom;
}

img {
    width: 100%;
    border-radius: 20px;
    border: 10px #80461B;
}

.heading {
    background-color: #FAD5A5;
    width: 90%;
    border: 5px solid #80461B;
    padding: 20px;
    margin: 10px;
}

.index {
    display: flex;
}

.index section {
    flex-grow: 1;
    flex-basis: 0;
    background-color: #ABDF96;
    width: 25%;
    border: 5px solid #80461B;
    padding: 10px;
    margin: 10px;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 50px;
    background-color: #E3963E;
}

h1 {
    color:#000;
    background-image: url('images/logo.png');
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center left;
    padding-left: 70px;
    border-radius: 10px;
    font-size: 3em;
    margin: 0
}

h2 {
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
    font-size: medium;
}

span {
    display: inline-block;
    font-size: 50px;
    background-color: #ABDF96;
    line-height: 0.75em;
}

h4 {
    font-size: larger;
}

.title_main {
    display: flex;
}

.title_main section {
    flex-grow: 1;
    flex-basis: 0;
    background-color: #ABDF96;
    width: 100%;
    border: 5px solid #80461B;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

p {
    line-height: 1.5em;
}

#blog {
    display: flex;
    margin: 10px auto;
    padding-left: 10px;
    padding-right: 10px;
}