.masthead {
    background-image: url('images/kitchen_2.jpeg');
    background-size: cover;
    background-color: #80461B;
    height: 250px;
    border-radius: 20px;
    width: 100%;
    background-position: bottom;
}

img {
    width: 100%;
    border-radius: 20px;
    border: 10px #80461B;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 50px;
    background-color: #E3963E;
}

h1 {
    color: #FAD5A5;
    background-image: url('images/logo.png');
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center left;
    padding-left: 70px;
    border-radius: 10px;
    font-size: 3em;
    margin: 0
}

h2{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    line-height: 1.5em;
}

.details {
    flex-grow: 1;
    flex-basis: 0;
    background: #FAD5A5;
}

div {
    background-color: #FAD5A5;
    width: 300px;
    border: 3px #80461B;
    padding: 10 px;
    margin: 10 px;
}